<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }
</style>

<div>
    <p>Hello, {{name}}</p>
    <p>We received a request to reset the password for your Otrelab account</p>
    <p>
        <a href="{{link}}">
            Reset your password
        </a>
    </p>
    <p>If you don't wish to reset your password, disregard this email and no action will be taken.</p>
    <p>
        Thanks!<br/>
        <strong>Otrelab team</strong>
    </p>

</div>
